* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: rgb(15, 147, 88);
  background: radial-gradient(
    circle,
    rgba(15, 147, 88, 0.742734593837535) 59%,
    rgba(83, 160, 176, 0.8463760504201681) 100%
  );
}

.room {
  width: 50%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
  background-color: #aed5a8;
}
.room h4 {
  text-align: center;
  color: rgb(219, 231, 231);
}
.room label {
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(11, 29, 11);
  padding: .5em 0 0 0;
  margin: .5em;
}
.room input {
  height: 15%;
  width: 55%;
  margin: 0.5em;
  border: none;
  font-size: 20px;
  text-align: center;
}
.room button {
  margin: 0.5em;
  border: none;
  padding: 0.7em;
  font-size: 20px;
  text-align: center;
  background-color: #1c5013;
  color: rgb(237, 230, 230);
  cursor: pointer;
}

.sign-out button {
  margin-left: 2.5em;
  margin-top: 2.5em;
  border: none;
  padding: 0.7em;
  font-size: 20px;
  text-align: center;
  background-color: #1c5013;
  color: rgb(237, 230, 230);
  cursor: pointer;
}
